@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Libre+Franklin:wght@100;200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --color-light-50:#F8F4FC;
    --color-dark-50:#797984;
    --color-dark-100:#312d37;
    --color-dark-900:#0000;

    --color-purple-50:#7c3aed;
    --color-purple-100:#a85597;
    --color-purple-200:#bf46ef;

    /*Criando uma varialvel cores gradientes*/

   --color-gradient:linear-gradient( #7c3aed, #a85597, #bf47ef);
}
/* Estilizando o fundo*/
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: 0;
}

.container
{
    height: 100vh;
    width: 100%;
    background: var(--color-gradient);
    display: flex;
    align-items: center;
    justify-content: center;

}
/* estilizando o fundo do formulário*/
.login_form
{
    background-color: var(--color-light-50);
    display: flex;
    flex-direction: column;
    padding: 30px 40px; 
    border-radius: 8px;
    gap: 30px; /* deixa mesmo espaçamento entre o login, icones e formulário*/
    box-shadow: 5px 5px 8px  rgba(0, 0, 0, 0.336);
    height: fit-content;
    
}
/* icone da lua. colocando ele a direita do form*/
.form_header
{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/* aumentar o tamanho do h1 e por a linha em baixo*/
.form_header h1
{
    font-size: 40px;
    position: relative;
}
.login_form h1::before
{
    position: absolute;
    content: '';
    width: 40%;
    background-color: var(--color-purple-50);
    height: 3px;
    bottom:10px; /*para a linha ir para baixo do h1*/
    border-radius:5px ;
}
#mode-icon
{
    cursor: pointer;
    font-size: 20px;
}
#social_media
{
    display: flex;
    justify-content: space-around;
}

/*tamanha do icones*/
#social_media img
{
    width:35px ;
}
/*efeito ao pasar o mouse em cima do icones*/
#social_media img:hover
{
    transform: scale(1.2); /*para mover somente a imagem sem interferir no form*/
    
}
/* estilizando o formulário*/
#inputs
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px
}
/* estilizando o label*/
.input-box label
{
    font-size: 14px;
    color:var(--color-dark-50)
}
/* icones dos label*/
.input-field
{
    display: flex;
    align-items: center;
    gap:15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--color-purple-50); /*linha do input*/
}
.input-field i
{
    font-size: 18px;
    color: var(--color-dark-100)
}
.input-field input
{
    border: none;/*tirar a borda do input*/
    background-color: transparent;
    width: 260px;
    font-size: 18px;
    padding: 0px 5px;
}
/* para tirar a borda de que fica ao clicar no input*/
.input-field input:focus
{
    outline: none;
}
/* texto "esqueceu a senha"*/
#forgot-password a
{
    text-decoration: none;
    font-size: 12px;
    color: var(--color-dark-50);
}
/*para o texto ficar roxo ao passar o mouse*/
#forgot-password a:hover
{
    color:var(--color-purple-50);
}
#login-btn
{
    border: none;
    background: var(--color-gradient);
    color:var(--color-light-50);
    padding: 7px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}
#login-btn:hover
{
    /*o botão crescer ao passar o mouse em cima*/
    transform: scale(1.05);
}
